@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,700;1,500&display=swap");
/* Font family: Open Sans, Weights: 400 */


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Font family :Raleway, Weights: 400, 700 */
/* General reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    /*Primary Colors*/
    --Very_Dark_Blue: hsl(243, 87%, 12%);
    --Desaturated_Blue: hsl(238, 22%, 44%);

    /* Accent Colors */
    --Bright_Blue: hsl(224, 93%, 58%);
    --Moderate_Cyan: hsl(170, 45%, 43%);

    /* Neutral Colors */
    --Light_Grayish_Blue: hsl(240, 75%, 98%);
    --Light_Gray: hsl(0, 0%, 75%);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    /* margin: 20px; */
}

nav {
    display: flex;
}

#top {
    font-family: "Raleway", sans-serif;
    color: var(--Desaturated_Blue);
    margin-left: 50px;
    font-weight: 700;
}

.come {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.logo {
    padding-top: 10px;
}

.all {
    padding-top: 10px;
    text-align: left;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    line-height: 30px;
    font-weight: 900;
    padding-top: 10px;
    color: var(--Very_Dark_Blue);
}

.ad {
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
    font-weight: 600;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
    color: var(--Desaturated_Blue);
}

.curve {
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
}

.mobileinput,
.mobilebutton {
    display: none;
}

.deskinput {
    display: contents;
    font-size: 15px;
    padding: 10px 20px;
    margin-right: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 50%;
}

.deskbutton {
    display: contents;
    font-size: 15px;
    padding: 10px 20px;
    margin: 8px;
    display: inline-block;
    width: 40%;
    background-color: var(--Bright_Blue);
    border: 1px solid var(--Bright_Blue);
}

.illustration1 {
    width: 50%;
    padding-top: 30px;
}
.illustration2 {
    width: 50%;
}

.left {
    padding-top: 100px;
    width: 35%;
}

.bgm {
    display: none;
}

.img {
    max-height: fit-content;
    width: 90%;
    height: 90%;
}

.img2 {
    max-height: fit-content;
    width: 85%;
    height: 85%;
}

.at {
    text-align: left;
    color: var(--Very_Dark_Blue);
    font-weight: 400;
    padding-bottom: 15px;
    background-color: var(--Light_Grayish_Blue);
    font-size: 16px;
}

.middle {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.fylo {
    margin-left: 20px;
    display: inline;
    font-family: "Open Sans", sans-serif;
    color: var(--Moderate_Cyan);
    text-decoration: underline;
}
.stay {
    font-size: 25px;
    text-align: left;
    line-height: 26px;
    font-family: "Raleway", sans-serif !important;
    padding-bottom: 30px;
    color: var(--Very_Dark_Blue);
    padding-bottom: 30px;
    padding-top: 10px;
    font-weight: 700;
    background-color: var(--Light_Grayish_Blue);
    margin: 0px;
}

.quotedword {
    width: 70%;
    background-color: white;
    box-shadow: 0 0 7px grey;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 15px;
    color: var(--Very_Dark_Blue);
    font-weight: 700;
    padding: 20px;
    font-family: "Raleway", sans-serif;
}

.img3 {
    border-radius: 50%;
    width: 25%;
}

.founder {
    padding-top: 8px;
    font-size: 11px;
    font-weight: 400;
}

.profile {
    display: flex;
}

.kylie {
    padding-left: 10px;
    padding-top: 20px;
}

.improve {
    font-weight: 600;
    color: var(--Very_Dark_Blue);
    font-family: "Open Sans", sans-serif;
}

h5 {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 16px;
}

.access {
    margin-top: 100px;
    display: flex;
    padding: 50px 30px;
    gap: 250px;
    background-color: var(--Desaturated_Blue);
}

.get {
    text-align: center;
    color: var(--Light_Grayish_Blue);
    font-size: 25px;
    width: 30%;
}

.early {
    font-family: "Raleway", sans-serif;
    padding-bottom: 10px;
    font-weight: 700;
    text-align: left;
}

.tier {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    color: var(--Light_Grayish_Blue);
    padding-bottom: 20px;
}

.deskinput2 {
    font-size: 15px;
    padding: 10px 20px;
    margin-bottom: 15px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 200%;
    border-radius: 5px;
}
.deskinput2::placeholder {
    color: #ccc;
}

.deskbutton2 {
    font-size: 15px;
    padding: 10px 15px;
    color: white;
    text-align: left;
    display: inline-block;
    width: 100%;
    background-color: var(--Bright_Blue);
    border-radius: 5px;
    border: 1px solid var(--Bright_Blue);
}

.free {
    display: none;
}

footer {
    background-color: var(--Very_Dark_Blue);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    justify-content: flex-start;
    gap: 200px;
    display: flex;
}

.contact {
    display: flex;
    justify-content: flex start;
    gap: 15px;
}
.ta {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.bian {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.base {
    color: var(--Light_Gray);
}

.ham {
    color: var(--Light_Gray);
}

.downlogo {
    height: 25px;
    width: 80px;
    color: var(--Light_Gray);
}

.job {
    display: block;
    text-decoration: none;
    padding-top: 70px;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

.twitter {
    border-radius: 50%;
}

.ig {
    text-decoration: none;
    padding-top: 70px;
}
a:hover {
    filter: opacity(50%);
}

button:hover {
    background-color: rgb(78, 78, 133);
    cursor: pointer;
}

.svglg {
    margin-bottom: 15px;
}

@media screen and (max-width: 375px) {
    .come {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .illustration1 {
        width: 100%;
        padding-top: 30px;
    }

    .img,
    .img2 {
        max-height: fit-content;
        width: 100%;
        height: 100%;
    }
    .logo {
        /* margin-top: 20px; */
        width: 80px;
        height: 28px;
        margin-top: 8px;
    }

    nav {
        padding-top: 20px;
    }

    #top {
        font-size: 15px;
        font-weight: 700;
        margin-left: 15px;
        color: var(--Desaturated_Blue);
    }

    .left {
        padding-top: 20px;
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .all {
        font-family: "Raleway", sans-serif;
        text-align: center;
        font-size: 22px;
        line-height: 23px;
        font-weight: 700;
        padding-top: 5px;
        color: var(--Very_Dark_Blue);
    }

    .deskinput,
    .deskbutton {
        display: none;
    }

    .mobileinput {
        display: contents;
        font-size: 15px;
        padding: 10px 20px;
        margin: 8px;
        display: inline-block;
        border: 1px solid var(--Desaturated_Blue);
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
        width: 90%;
        border-radius: 5px;
    }

    .mobilebutton {
        display: contents;
        font-size: 15px;
        padding: 10px 20px;
        width: 90%;
        margin: 8px;
        display: inline-block;
        background-color: var(--Bright_Blue);
        box-sizing: border-box;
        border: 1px solid var(--Bright_Blue);
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: white;
        border-radius: 5px;
    }

    .ad {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        line-height: 20px;
        font-weight: 400;
        padding-bottom: 30px;
        padding-top: 30px;
        color: var(--Very_Dark_Blue);
    }

    .desktoptextbox {
        display: none;
    }

    .bgd {
        display: contents;
    }

    .stay {
        font-size: 14px;
        text-align: center;
        line-height: 26px;
        color: var(--Very_Dark_Blue);
        padding: 15px 20px;
        font-family: "Raleway", sans-serif;
        background-color: var(--Light_Grayish_Blue);
        margin: 0px;
        font-weight: 400;
    }

    .at {
        text-align: left;
        font-size: 12px;
        margin: 0px;
        padding: 10px 20px;
        font-family: "Open Sans", sans-serif;
        background-color: var(--Light_Grayish_Blue);
    }

    .fylo {
        margin-left: 0px;
        padding-left: 70px;
        margin-top: 0px;
        text-align: center;
    }

    .middle {
        display: block;
    }

    .quotedword {
        background-color: white;
        width: 100%;
        box-shadow: 0 0 7px grey;
        border-radius: 8px;
        margin-bottom: 50px;
        font-size: 15px;
        color: var(--Very_Dark_Blue);
        font-weight: 700;
        padding: 20px;
        font-family: "Raleway", sans-serif;
    }

    .kylie {
        padding: 15px;
    }
    h5 {
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
        color: var(--Very_Dark_Blue);
    }

    .fi {
        display: none;
    }

    .access {
        margin-top: 20px;
        display: block;
        justify-content: space-between;
        padding: 30px;
        background-color: var(--Desaturated_Blue);
    }

    .get {
        text-align: center;
        color: var(--Light_Grayish_Blue);
        font-size: 16px;
        width: 100%;
    }

    .early {
        font-family: "Raleway", sans-serif;
        padding-bottom: 15px;
        font-weight: 700;
    }

    .free {
        display: contents;
    }

    .mobileinput2 {
        font-size: 12px;
        padding: 8px 15px;
        margin: 6px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
        width: 90%;
    }

    .mobilebutton2 {
        font-size: 12px;
        padding: 8px 15px;
        width: 90%;
        margin: 6px;
        display: inline-block;
        background-color: var(--Bright_Blue);
        box-sizing: border-box;
        border: 1px solid var(--Bright_Blue);
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: white;
    }

    footer {
        display: block;
        font-size: 12px;
    }

    .ig {
        text-decoration: none;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}
