/* General reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

 /* Font family :Raleway, Weights: 400, 700 */
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

  /* Font family: Open Sans, Weights: 400 */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,700;1,500&display=swap');

  :root {
    --Very_Dark_Blue: hsl(243, 87%, 12%);
    --Desaturated_Blue: hsl(238, 22%, 44%);
    --Light_Grayish_Blue: hsl(240, 75%, 98%);
    --Light_Gray: hsl(0, 0%, 75%);
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* margin: 20px; */
}

nav {
    display: flex;
}

#top {
    font-family:'Raleway', sans-serif;
    color: var(--Very_Dark_Blue)
    /* text-decoration: none;
    color: black;
    font-size: 15px;
    float: right;
    margin: 20px; */
}


h2 {
    /* margin-left: 20px; */
}
    

.come {
    display: flex;
    flex-direction: row-reverse;
}

.logo {
    /* margin-top: 20px; */
    /* width: 150px;
    height: 50px; */
}

.curve {
    position: relative;
}

.mobiletextbox {
    display: none;
}



main {
    /* height: 100vth; */
}

.all {
    /* text-align: left;
    font-size: 22px;
    width: 90%;
    height: 30%; */
}

.curve {
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.deskinput {
    /* padding: 10px; */
    font-size: 15px;
    padding: 10px 20px;
    margin: 8px; 
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.deskbutton {
    font-size: 15px;
    padding: 10px 20px;
    margin: 8px; 
    display: inline-block;
    background-color: blue;
    /* box-sizing: border-box; */
    border: 1px solid blue;
}

.left {
    /* margin: 20px; */
    display: flex;
}

.bgm {
display:none;
}

.img {
    max-height: fit-content;
    width: 100%;
    /* width: 40%; */
    height: 100%;
}

.img2 {
        max-height: fit-content;
        width: 100%; 
        height: 100%
}

.at {
    text-align: left;
    color: var(--Desaturated_Blue);
    /* width: 70%; */
    font-size: 12px;
    /* margin-left: 20px; */
}

.middle {
    display: flex;
    flex-direction: row-reverse;
}

a.fylo {
    margin-left: 20px;
    display: inline;
    color: rgb(27, 27, 212);
    text-decoration: underline;
}

.quotedword{
    /* width: 50%;
    margin-top: 40px;
    margin-left: 20px;
    background-color: white; */

}

.img3 {
    border-radius: 50%;
    width: 25%;
}

.founder {
    font-size: 11px;
}

.profile {
   
    display: flex;
    
}

.kylie {
    /* margin-left: 10px;
    line-height: 0; */
}

/* .access {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(111, 111, 158);

} */

.get {
    /* width: 50%; */
    text-align: center;
    color: var(--Light_Grayish_Blue);

}

.tier {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    color: var(--Light_Grayish_Blue);
}

.day {
    width: 80%;
}

.free {
    margin-left: 100px;
}

footer {
    background-color: rgb(41, 41, 58);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.contact {
    /* margin-left: 40px; */
    display: block;
}

.ma {
    margin-top: 10px;
}

.ta {
    display: block;
    margin-left: 20px;
    color: white;
}

.bian {
    display: flex;
    margin-bottom: 40px;
}

.downlogo {
    margin-top: 20px;
    margin-left: 40px;
}

.job {
    display: block;
    text-decoration: none;
    margin-top: 50px;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

.collate {
    width: 20%;
    height: 15%;
}

.twitter {
    border-radius: 50%;
}

.ig {
    text-decoration: none;
    margin-top: 50px;
}
a:hover {
    filter: opacity(50%);
}

button:hover {
    background-color: rgb(78, 78, 133);
    cursor: pointer;
}


@media screen and (max-width: 980px) {
    header {
        /* display: block; */
    }
    
    #top {
        
        /* display: inline-block; */
    }
    nav {
        /* clear: left;
        float: left;
        text-align: center; */
       
    }

    

    .logo {
        /* margin: 10px auto 0;
        float: centre; */
    }

    .left {
        margin: 0;
    }
    .come {
        display: flex;
        flex-direction: column;
    }
    .middle {
        display: block;
    }

    .aro {
        /* width: 80%;
        margin-left: auto;
        margin-right:auto; */
    }

    .quotedword {
        /* width: 80%;
        margin-left: auto;
        margin-right: auto; */
    }
    .job, .ig, .collate {
        width: 48%;
    }
    .bian {
        margin-top: 30px;
        line-height: 10px;
        /* width: 50%; */
    }
    .job, .ig {
        margin-top: 100px;
    }
   .collate {
       margin-left: 20px;
   }
   footer {
       text-align: center;
   }
   .muse {
       margin-top: 20px;
       margin-bottom: 40px;
       text-align: center;
   }
  
}

 @media screen and (max-width: 375px) {
    .come {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo {
        /* margin-top: 20px; */
        width: 80px;
        height: 28px;
        margin-top: 8px;
    }

    nav{
        padding-top: 20px;
    }

    #top{
        font-size: 15px;
        font-weight: 400;
        margin-left: 15px;
        color: var(--Desaturated_Blue);
        font-weight: 400;
    }

    .container{
        width: 90%;
    }

    .all {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        padding-top: 30px;
        padding-bottom: 30px;
        color: var(--Very_Dark_Blue);
    }

    .mobiletextbox {
        display: contents;
    }

    .mobileinput {
        font-size: 15px;
        padding: 10px 20px;
        margin: 8px; 
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        width: 90%;
    }

    .mobilebutton {
        font-size: 15px;
        padding: 10px 20px;
        width: 90%;
        margin: 8px; 
        display: inline-block;
        background-color:  var(--Desaturated_Blue);
        box-sizing: border-box;
        border: 1px solid var(--Desaturated_Blue);
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: white;
    }

    .ad{
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        line-height: 26px;
        font-weight: 400;
        padding-bottom: 30px;
        color: var(--Desaturated_Blue);
    }

    .desktoptextbox {
        display: none;
    }

    .bgd{
        display: none v                                      ;
    }


    .aro {
        padding: 30px 20px;
        font-family: 'Open Sans', sans-serif; 
        background-color: var(--Light_Grayish_Blue);
    }

    h2 {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
        color: var(--Very_Dark_Blue);
    }

    .at {
        text-align: left;
        font-size: 12px;
        margin-top: 20px;
    }

    .quotedword{
        background-color: white;
        box-shadow: 0 0 7px grey;
        border-radius: 8px;
        margin-bottom: 50px;
        font-size: 15px;
        color: var(--Very_Dark_Blue);
        font-weight: 400;
        padding: 20px;
        font-family: 'Raleway', sans-serif;
    }

    .kylie {
        padding: 15px;
    }
    h5{
        font-weight: 700;
    }

    .access {
        margin-top: 20px;
        display: block;
        justify-content: space-between;
        padding: 30px;
        background-color: var(--Desaturated_Blue);
    }

    .early {
        font-family: 'Raleway', sans-serif;
        padding-bottom: 15px;
        font-weight: 700;
    }
    

    
    header {
        /* flex-wrap: wrap;
        margin: 6px; */
    }
    /* .come {
        display: flex;
        flex-direction: column;
    } */

    /* button {
        width: 100%;
    }
    input[type=text] {
        width: 100%;
    } */

   
    .logo {
        /* margin: 10px;
        width: 75px;
        height: 25px; */
    }
    .middle {
        display: flex;
        flex-direction: column;
    }

   
    
    .muse {
        text-align: center;
    }

    
    .free {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding: 10px;
        /* display: block; */
        /* flex-direction: column; */
    
    
    /* .get {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    } */

    /* .access {
        display: flex;
        flex-direction: column;
    } */

    /* button {
        font-size: 10px;
        padding: 5px 20px;
        margin: 5px; */
    
    /* input[type=text] {
        font-size: 10px;
        padding: 5px 20px;
        margin: 5px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .early {
        font-size: 16px;
    }
    footer {
        display: block;
    }
    .bian {
        margin: top 40px;
    }
    .ham {
        font-size: 10px;
    } */

    /* .ma {
        font-size: 10px;
    }

    .job,.collate {
        margin-left: 40px;
    }
    .bian {
        margin-top: 30px;
    }
    .ig {
        text-decoration: none;
        margin-top: 10px;
        display: flex;
    }
    downlogo {
        margin-top: 20px;
        margin-left: 40px;
    }
    .ig {
        display: flex;
        justify-content: center;
    }
    .aro {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    } */

